.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 15px;
  border-radius: 0.375rem;
  height: 13rem;
  width: 20rem;
  font-size: 1.125rem;
  font-family: sans-serif;
  background-color: white;
  color: #00f;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px rgba(208, 218, 235, 1);
  box-shadow: 0px 0px 2px 0px rgba(238, 244, 254, 1);
}

.dateBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.date {
  color: rgba(80, 184, 16, 1);
  font-size: 1.2rem;
}
.description {
  color: rgba(85, 85, 85, 1);
  font-size: 1.1rem;
  margin: 0;
  font-weight: lighter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tagsAvatar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.tags {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;
}

.tag {
  cursor: pointer;
  padding: 5px 11px;
  background-color: rgba(178, 51, 166, 1);
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
}
.tag:nth-child(even) {
  background-color: rgba(235, 238, 246, 1);
  color: rgba(97, 108, 130, 1);
  position: relative;
  display: inline-block;
  padding: 5px 11px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
}
.tag:nth-child(even)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: rgba(235, 238, 246, 1);
  border-radius: 0 5px 0 0;
  z-index: 0;
}
